.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid var(--lightGrey);
    height: 10dvh;
    padding: 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
ul li {
    list-style: none;
}
ul li a {
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 3px;
}

ul li a:hover {
    color: var(--red);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: var(--grey);
    margin: 4px 0;
    transition: 0.3s;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .nav {
        width: 100dvw;
    }
    .menu {
        display: none;
        height: 100dvh;
        width: 100dvw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
    }
    .menu.open {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .bar.open:nth-child(1) {
        transform: rotate(35deg) translate(-3px, 6px);
    }

    .bar.open:nth-child(2) {
        opacity: 0;
    }

    .bar.open:nth-child(3) {
        transform: rotate(-35deg) translate(-3px, -6px);
    }
    .nav a:link,
    .nav a:visited {
        font-size: 2.5rem;
    }
}
